
p.paragraph{
    font-family: 'Roboto', sans-serif;
    font-size:20px
}
img.content {
    width: 100%;
    margin-bottom:5px
}
p.p1 {
    font-family: 'Roboto';
    font-weight: 500;
    color: black;
}
.note-list{
    padding: 10px;
}



img{
 image-rendering: -moz-crisp-edges;  
 width: 100%; 
 max-width: 800px;
height: auto;
 
}