
.paragraph{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color:black
}

p.p1 {
    font-family: 'Roboto';
    font-weight: 500;
    color: black;
}
.note-list{
    padding: 10px;
}

.zoom {
     /* transition: transform .2s; */
    width: 100%;
    height: auto;
    
  }
  
  .zoom:hover {
    -ms-transform: scale(2.0); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
    margin-left: 60px;
  }

