
p.paragraph{
    font-family: 'Roboto', sans-serif;
    font-size:20px
}
img.content {
    width: 100%;
    margin-bottom:5px
}
p.p1 {
    font-family: 'Roboto';
     color: black;
}
.note-list{
    padding: 10px;
}