.paragraph{
    font-family: 'Montserrat', sans-serif;
    font-size:1.4rem;
    /* color: #414141; */
}
ol.tfn__list p {
    font-family: 'Roboto';
    font-weight: 400;
}

p.p1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* color: black; */
}
